{% extends 'base.html.twig' %}

{% block title %}Kocinaspeed
{% endblock %}

{% block body %}
	<div class="uk-container">
		<div class="uk-border-rounded-large uk-background-top-center uk-background-cover uk-background-norepeat uk-light uk-inline uk-overflow-hidden uk-width-1-1" style="background-image: url('{{ asset('img/background1.jpg') }}');">
			<div class="uk-position-cover uk-header-overlay"></div>
			<div class="uk-position-relative" data-uk-grid>
				<div class="uk-width-1-2@m uk-flex uk-flex-middle">
					<div class="uk-padding-large uk-padding-remove-right">
						<h1 class="uk-heading-small uk-margin-remove-top">Découvrez nos meilleures recettes</h1>
					</div>
				</div>
				<div class="uk-width-expand@m"></div>
			</div>
		</div>
	</div>

	<!-- Section de présentation avec une vignette (card) et un titre personnalisé -->
	<div class="uk-section uk-section-muted uk-padding uk-position-relative">
		<div class="uk-container uk-text-center">
			<div
				class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-large uk-padding-large">
				<!-- Animation d'image ajoutée sous la carte -->
				<div class="uk-animation-kenburns uk-inline-clip uk-transition-toggle uk-margin-large-top" tabindex="0">
					<img src="{{ asset('img/logo2.png') }}" alt="logo kocinaspeed" class="uk-border-rounded-large" style="max-width: 100%; height: auto;">
				</div>

				<!-- Titre personnalisé avec une couleur différente -->
				<h2 class="uk-heading-line uk-text-bold uk-animation-slide-top-small" style="color: #ff7043;">
					<span>Bienvenue sur
						<strong>Kocinaspeed</strong>
					</span>
				</h2>

				<p class="uk-text-lead uk-animation-fade uk-margin-medium-top">
					À titre amateur, notre site a pour objectif de vous offrir des
					<strong>recettes rapides</strong>,
					<strong>faciles à préparer</strong>, et surtout
					<strong>délicieuses</strong>.
				</p>

				<p class="uk-text-lead uk-animation-fade">
					Que vous soyez pressé ou que vous cherchiez une idée pour épater vos invités,
					<strong>Kocinaspeed</strong>
					a une solution adaptée à vos
					<em>envies culinaires</em>.
				</p>

				<!-- Liste des avantages avec une animation -->
				<ul class="uk-list uk-list-large uk-list-bullet uk-text-left uk-margin-large-top uk-animation-slide-bottom-small">
					<li>Explorez nos différentes catégories de recettes</li>
					<li>Trouvez rapidement vos recettes grâce à la barre de recherche</li>
					<li>Laissez vos avis et partagez vos réalisations et même vos photos avec d'autres passionnés</li>
					<li>Des mises à jour régulières avec de nouvelles recettes pour vous inspirer</li>
					<li>Des courtes vidéos de réalisation</li>
					<li>N'hésitez pas à nous contacter pour des suggestions ou partenariat !</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Section affichant les recettes -->
	<div class="uk-section uk-section-default">
		<div class="uk-container">
			<div data-uk-grid>
				<div class="uk-width-1-4@m sticky-container">
					<div data-uk-sticky="offset: 100; bottom: true; media: @m;">
						<h2>Nos recettes</h2>
						<ul class="uk-nav-default uk-nav-parent-icon uk-nav-filter uk-margin-medium-top" data-uk-nav>
							{% for category_key, category_label in constant('App\\Entity\\Recipe::CATEGORIES') %}
								<li class="uk-parent">
									<a href="#">{{ category_label }}</a>
									<ul class="uk-nav-sub">
										{% set category_recipes = recipes|filter(recipe => recipe.category == category_key) %}
										{% if category_recipes|length > 0 %}
											{% for recipe in category_recipes %}
												<li>
													<a href="{{ path('app_recipe_details', { slug: recipe.slug }) }}">{{ recipe.name }}</a>
												</li>
											{% endfor %}
										{% else %}
											<li>
												<span>Aucune recette disponible</span>
											</li>
										{% endif %}
									</ul>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="uk-width-expand@m">
					<div data-uk-grid>
						<div class="uk-width-expand@m">
							<form class="uk-search uk-search-default uk-width-1-1" action="{{ path('app_recipe_search') }}" method="get">
								<span data-uk-search-icon></span>
								<input class="uk-search-input uk-text-small uk-border-rounded uk-form-large" type="search" placeholder="Recherche par nom de recette..." name="query">
							</form>
						</div>
					</div>

					<!-- Liste des recettes avec affichage de la première image uniquement -->
					<div class="uk-child-width-1-2 uk-child-width-1-3@s" data-uk-grid>
						{% for recipe in recipes %}
							<div>
								<div class="uk-card uk-card-default uk-card-hover uk-card-body fixed-card-height">
									<div class="uk-card-media-top">
										{% if recipe.images|length > 0 %}
											<!-- Affiche la première image de la collection et applique une taille fixe avec ajustement automatique -->
											<img class="uk-border-rounded-medium fixed-image" src="{{ asset('uploads/recipes/' ~ recipe.images|first.imagePath) }}" alt="{{ recipe.name }}">
										{% else %}
											<!-- Image par défaut si aucune image n'est disponible -->
											<img class="uk-border-rounded-medium fixed-image" src="{{ asset('img/default-image.jpg') }}" alt="{{ recipe.name }}">
										{% endif %}
										<div class="uk-position-cover uk-card-overlay uk-border-rounded-medium"></div>
									</div>
									<div>
										<h3 class="uk-card-title uk-text-500 uk-margin-small-bottom uk-margin-top">{{ recipe.name }}</h3>
									</div>
									<a href="{{ path('app_recipe_details', { slug: recipe.slug }) }}" class="uk-position-cover"></a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
