{# templates/recipe/recipe_new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle recette
{% endblock %}

{% block body %}
	<h1>Ajouter une nouvelle recette</h1>

	{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

	{{ form_row(form.name) }}
	{{ form_row(form.slug) }}
	{{ form_row(form.category) }}
	{{ form_row(form.description) }}
	{{ form_row(form.ingredients) }}
	{{ form_row(form.cookingTime) }}
	{{ form_row(form.video) }}

	{# Rendu de la collection d'images #}
	<div class="images-collection" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
		{% for imageForm in form.images %}
			<div class="image-item">
				{{ form_row(imageForm.imageFile) }}
			</div>
		{% endfor %}
	</div>

	<button type="button" id="add-image">Ajouter une image</button>

	<button type="submit">Ajouter la recette</button>

	{{ form_end(form) }}

	{# JavaScript pour ajouter dynamiquement des champs d'upload #}
	<script>
		let collectionHolder = document.querySelector('.images-collection');
let addImageButton = document.getElementById('add-image');
let index = collectionHolder.querySelectorAll('.image-item').length;

addImageButton.addEventListener('click', function () {
let prototype = collectionHolder.getAttribute('data-prototype');
let newForm = prototype.replace(/__name__/g, index);
let div = document.createElement('div');
div.classList.add('image-item');
div.innerHTML = newForm;
collectionHolder.appendChild(div);
index++;
});
	</script>

{% endblock %}
