{% extends 'base.html.twig' %}

{% block title %}Search Recipes{% endblock %}

{% block body %}
    <h1>Search Recipes</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Search</button>
    {{ form_end(form) }}

    <h2>Results</h2>
    <div class="recipes">
        {% for recipe in recipes %}
            <div class="recipe">
                <h3><a href="{{ path('recipe_show', {id: recipe.id}) }}">{{ recipe.title }}</a></h3>
                <img src="{{ recipe.photo }}" alt="{{ recipe.title }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}