<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Kocinaspeed
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/logo.png') }}" type="image/png">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.3/dist/css/uikit.min.css"/>
		<link rel="stylesheet" href="{{ asset('css/main.css') }}">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
		<script src="{{ asset('js/uikit.js') }}" defer></script>
	</head>
	<body>
		<!-- Section Navbar -->
		<nav class="uk-navbar-container uk-letter-spacing-small">
			<div class="uk-container">
				<div
					class="uk-position-z-index" data-uk-navbar>
					<!-- Navbar Left (Logo + Navigation) -->
					<div
						class="uk-navbar-left">
						<!-- Logo -->
						<a class="uk-navbar-item uk-logo" href="{{ path('app_home') }}">
							Kocinaspeed
						</a>
						<!-- Menu principal visible sur desktop -->
						<ul class="uk-navbar-nav uk-visible@m uk-margin-large-left">
							<li class="uk-active">
								<a href="{{ path('app_home') }}">Accueil</a>
							</li>
							<li>
								<a href="{{ path('app_recipe_index') }}">Recettes</a>
							</li>
						</ul>
					</div>
					<!-- Navbar Right (Recherche et Connexion/Espace Admin) -->
					<div
						class="uk-navbar-right">
						<!-- Barre de recherche -->
						<div>
							<a class="uk-navbar-toggle" data-uk-search-icon href="#"></a>
							<div class="uk-drop uk-background-default" data-uk-drop="mode: click; pos: left-center; offset: 0">
								<form class="uk-search uk-search-default uk-width-1-1" action="{{ path('app_recipe_search') }}" method="get">
									<span data-uk-search-icon></span>
									<input class="uk-search-input uk-text-small uk-border-rounded uk-form-large" type="search" placeholder="Recherche par nom de recette..." name="query">
								</form>
							</div>
						</div>
						<!-- Bouton de Connexion ou Espace Admin selon l'état de connexion -->
						<div class="uk-navbar-item">
							<div>
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
									{% if is_granted('ROLE_ADMIN') %}
										<a class="uk-button uk-button-secondary" href="{{ path('app_admin') }}">Admin</a>
									{% else %}
										<a class="uk-button uk-button-secondary" href="{{ path('app_profile') }}">Mon Profil</a>
									{% endif %}
								{% else %}
									<a class="uk-button uk-button-primary" href="{{ path('app_login') }}">Connexion</a>
								{% endif %}
							</div>
						</div>
						<!-- Menu Burger pour mobile -->
						<a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle>
							<span data-uk-navbar-toggle-icon></span>
						</a>
					</div>
				</div>
			</div>
		</nav>

		<!-- Section principale (Contenu du site) -->
		{% block body %}{% endblock %}

		<!-- Section Footer -->
		<footer class="uk-section uk-section-default">
			<div class="uk-container uk-text-secondary uk-text-500">
				<div class="uk-child-width-1-2@s" data-uk-grid>
					<div>
						<!-- Logo dans le footer -->
						<a href="{{ path('app_home') }}" class="uk-logo">
							<img src="{{ asset('img/logo.png') }}" alt="Logo" width="80" height="80" class="uk-margin-small-right">
							Kocinaspeed
						</a>
					</div>
					<!-- Copyright et lien vers le créateur du site -->
					<div class="uk-margin-medium-top uk-text-small uk-text-muted">
						<div>Site réalisé par
							<a class="uk-link" href="https://krismos.fr/" target="_blank" rel="noopener noreferrer">Krismos64 Copyright 2024</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- Menu Offcanvas pour mobile -->
		<div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
			<div class="uk-offcanvas-bar">
				<a class="uk-logo" href="{{ path('app_home') }}">Kocinaspeed</a>
				<button class="uk-offcanvas-close" type="button" data-uk-close="ratio: 1.2"></button>
				<!-- Menu principal Offcanvas -->
				<ul class="uk-nav uk-nav-primary uk-nav-offcanvas uk-margin-medium-top uk-text-center">
					<li class="uk-active">
						<a href="{{ path('app_home') }}">Accueil</a>
					</li>
					<li>
						<a href="{{ path('app_recipe_index') }}">Recettes</a>
					</li>
				</ul>

				<!-- Bouton de Connexion ou Espace Admin dans le Offcanvas -->
				<div class="uk-margin-medium-top">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						{% if is_granted('ROLE_ADMIN') %}
							<a class="uk-button uk-width-1-1 uk-button-secondary" href="{{ path('app_admin') }}">Admin</a>
						{% else %}
							<a class="uk-button uk-width-1-1 uk-button-secondary" href="{{ path('app_profile') }}">Mon Profil</a>
						{% endif %}
					{% else %}
						<a class="uk-button uk-width-1-1 uk-button-primary" href="{{ path('app_login') }}">Connexion</a>
					{% endif %}
				</div>

				<!-- Logo dans le Offcanvas -->
				<div class="uk-margin-medium-top uk-text-center">
					<a href="{{ path('app_home') }}">
						<img src="{{ asset('img/logo.png') }}" alt="Logo" width="150" height="150" class="uk-margin-small-top">
					</a>
				</div>
			</div>
		</div>

	</body>
</html>
